/* ---- TITLE ----*/

.header__title {
  width: 530px;
  margin: 0 auto;
  font-size: 4em;
  margin-left: 0;
}

.different__title {
  font-size: 3em;
  margin-top: 0;
}

.points__title {
  margin-top: 0;
}

.comments__title {
  font-size: 3em;
  margin: -250px 0 50px 0;
}